
  .heading-container {
    display: flex;
    align-items: center; /* vertically align */
    justify-content: center; /* center the whole group horizontally */
    gap: 12px; /* spacing between button and heading */
  }
.categoryPage-container {
  flex-direction: row;
  justify-items: center;
}

.blogsOnHeading {
  /* margin-left: 20px   ; */
}
.back-btn {
  /* margin-right: 20px; */
}
