/* .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(90, 17, 17);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0px 10px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 98%;
  display: flex;
  justify-content: space-around; /* buttons on left, page info on right */
  align-items: center;
  padding: 10px 20px; /* adds breathing space on both sides */
  /* color: white; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
  color: black;
  background-color: white;
}

.previous-btn,
.next-btn {
  padding: 6px 12px;
  margin-right: 8px;
  background: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.previous-btn:hover,
.next-btn:hover {
  background: #ddd;
}

.footer p {
  margin: 0; /* remove default paragraph spacing */
  margin-right: 10px; /* avoid sticking to scrollbar */
}
